* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a9df4;
    --gray: #f3f4f6;
    --dark-gray: #ccd1d8;
    font-size: 16px;
}

html,
body,
.main-container {
    width: 100%;
    height: 100%;
}

img {
    max-width: 20%;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: clamp(110px, 16%, 140px) 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: var(--blue);
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding: 5%;
    gap: 4rem;
    z-index: 2;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar .sidebar-one {
    display: flex;
    font-size: 1.75rem;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-icon {
    width: 50px;
}

.sidebar-two ul,
.sidebar-three ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
}

.sidebar-two li,
.sidebar-three li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.sidebar-two img,
.sidebar-three img {
    width: 25px;
    height: 25px;
}

.header {
    grid-row: 1;
    grid-column: 2;
    padding: 1rem 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 140px;
    box-shadow: var(--dark-gray) 1px 5px 5px;
    z-index: 1;
}

.header-top {
    grid-row: 1;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 2 1 50%;
}

.search img {
    width: 20px;
}

.search input {
    border: var(--gray) 1px solid;
    background-color: var(--gray);
    border-radius: 1rem;
    flex: 1;
    height: 30px;
    padding: 0.5rem 1rem;
}

.profile-right {
    flex: 1 1 30%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    gap: 1rem;
    font-weight: 700;
}

.profile-right img {
    width: 20px;
}

.profile-right .medium-icon {
    width: 30px;
    border: black 1px solid;
    border-radius: 5rem;
}

.header-bot {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}

.profile-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-left img {
    width: 40px;
    height: fit-content;
    max-width: none;
    border: black 1px solid;
    border-radius: 5rem;
}

.profile-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2rem;
}

.small {
    font-size: 0.7rem;
}

.header-buttons ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    height: 100%;
}

.header-buttons button {
    all: unset;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.content {
    grid-row: 2;
    grid-column: 2;
}