/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}