* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a9df4;
    font-size: 16px;
}

html,
body,
.main-container {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: var(--blue);
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    gap: 4rem;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar .sidebar-one {
    display: flex;
    font-size: 1.75rem;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-icon {
    width: 50px;
}

.sidebar-two ul,
.sidebar-three ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
}

.sidebar-two li,
.sidebar-three li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.sidebar-two img,
.sidebar-three img {
    width: 25px;
    height: 25px;
}

.header {
    grid-row: 1;
    grid-column: 2;
}

.content {
    grid-row: 2;
    grid-column: 2;
}