* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.main-container {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
}

.header {
    grid-row: 1;
    grid-column: 2;
}

.content {
    grid-row: 2;
    grid-column: 2;
}

.main-container > * {
    border: black solid 1px;
}