* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a9df4;
    --gray: #f3f4f6;
    --dark-gray: #ccd1d8;
    --light: #999999;
    font-size: 16px;
}

html,
body,
.main-container {
    width: 100%;
    height: 100%;
}

img {
    max-width: 20%;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: clamp(235px, 20%, 260px) 1fr;
    grid-template-rows: clamp(110px, 16%, 140px) minmax(680px, 1fr);
    overflow: scroll;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: var(--blue);
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding: 5%;
    gap: 4rem;
    z-index: 2;
    overflow: scroll;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar .sidebar-one {
    display: flex;
    font-size: 1.75rem;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-icon {
    width: 50px;
}

.sidebar-two ul,
.sidebar-three ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
}

.sidebar-two li,
.sidebar-three li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.sidebar-two img,
.sidebar-three img {
    width: 25px;
    height: 25px;
}

.header {
    grid-row: 1;
    grid-column: 2;
    padding: 1rem 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 140px;
    box-shadow: var(--dark-gray) 1px 5px 5px;
    z-index: 1;
}

.header-top {
    grid-row: 1;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 2 1 50%;
}

.search img {
    width: 20px;
}

.search input {
    border: var(--gray) 1px solid;
    background-color: var(--gray);
    border-radius: 1rem;
    flex: 1;
    height: 30px;
    padding: 0.5rem 1rem;
}

.profile-right {
    flex: 1 1 30%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    gap: 1rem;
    font-weight: 700;
}

.profile-right img {
    width: 20px;
}

.profile-right .medium-icon {
    width: 30px;
    border: black 1px solid;
    border-radius: 5rem;
}

.header-bot {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}

.profile-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-left img {
    width: 40px;
    height: fit-content;
    max-width: none;
    border: black 1px solid;
    border-radius: 5rem;
}

.profile-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2rem;
}

.small {
    font-size: 0.7rem;
}

.header-buttons ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    height: 100%;
}

.header-buttons button {
    all: unset;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.content {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1.5rem 1rem 2rem 1rem;
    background-color: var(--gray);
    overflow: scroll;
}

.projects {
    grid-row: 1 / 3;
    grid-column: 1;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
    margin-top: 0.75rem;
}

.projects .card {
    background: white;
    padding: 1.5rem 1rem 1rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: var(--dark-gray) 1px 5px 5px;
}

.card::before {
    content: '';
    position: absolute;
    background-color: yellow;
    top:0;
    left:0;
    height: 100%;
    width: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.card p {
    max-height: 130px;
    overflow: scroll;
}

.light {
    color: var(--light)
}

.card .light {
    margin-top: 0.5rem;
    color: var(--light);
    font-size: 0.8rem;
    font-weight: 500;
}

div.icons {
    height: 15%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: space-around;
}

div.icons img {
    height: 100%;
}

.announcements {
    grid-row: 1;
    grid-column: 2;
}

.announcements-container {
    margin-top: 0.75rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: var(--dark-gray) 1px 5px 5px;
}

.announcement + .announcement {
    border-top: 1px var(--light) solid;
    margin-top: 1rem;
    padding-top: 1rem;
}

.announcement strong {
    font-size: 0.8rem;
}

.announcement p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.trendings {
    grid-row: 2;
    grid-column: 2;
}

.trending-container {
    margin-top: 0.75rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1.1rem;
    box-shadow: var(--dark-gray) 1px 5px 5px;
}

.trending {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 500;
    gap: 1rem;
}

.trending + .trending {
    margin-top: 1rem;
}

.trending img {
    width: 50px;
    height: auto;
    border: solid black 1px;
    border-radius: 5rem;
}